html, body {
  margin: 0;
  padding: 0;
}

.card {
  width: 90%;
  margin: 0 auto;
  max-width: 800px;
  background: #111d4a;
  color: white;
}

.card-title,
.card-read-time,
.card-btn {
  font-family: 'Blinker', sans-serif;
}

.card-title {
  color: #05cbe9;
  font-size: 1.75rem;
}

.card-body {
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
}

.card-btn {
  font-size: 1.25rem;
  text-decoration: none;
  background-color: #05cbe9;
  padding: 10px 20px;
  font-weight: 700;
}

.card-content {
  padding: 1em;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
